{% extends "layouts/base.html" %}

{% block title %} Device Overview {% endblock %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link type="text/css" rel="stylesheet" src="css/jquery-ui.min.css">
<link type="text/css" rel="stylesheet" src="css/jquery-ui.structure.min.css">
<link type="text/css" rel="stylesheet" src="css/jquery-ui.theme.min.css">
{% endblock stylesheets %}
{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Device Dashboard</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../network"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Network</a></li>
                                <li class="breadcrumb-item"><a href="#!">Devices</a></li>
                                <li class="breadcrumb-item"><a href="#!">{{ ip }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-md-12">
					<div class="card">

						<div class="card-header">
							<h5>What is this?</h5>
							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="feather icon-more-horizontal"></i>
									</button>
									<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
										<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
										<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
										<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p>This page allows you to view and edit information about a specific device on your network. This page also provides information about the ports that are open on a device.
							</p>
						</div>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="card col-sm-6">
                    <div class="card-header">
                        <h5>Device Components</h5>
                    </div>
                    <div class="card-body">
                        <h5> Network Information</h5>
                        <hr>
                        <div class="col-sm-12">
                            <form action="/device/{{ ip }}" method="post">
                                {% csrf_token %} 
                                <div class="form-group row">
                                    <label for="deviceStatus" class="col-sm-3 col-form-label">Device Status</label>
                                    <div class="col-sm-9 custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="deviceStatus" name="deviceStatus" checked>
                                        <label class="custom-control-label" for="deviceStatus">Enabled</label>
                                        <small id="deviceStatus" class="form-text text-muted">Is the Device be allowed on the network</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="hostname" class="col-sm-3 col-form-label">Hostname</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="hostname" name="hostname" value= "{{ hostname }}">
                                        <small id="HostnameHelp" class="form-text text-muted">The name the device is known by on the network.</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ip" class="col-sm-3 col-form-label">IP Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" id="ip" name="ip" value= "{{ ip }}">
                                        <small id="ipHelp" class="form-text text-muted">The address that devices use to communicate.</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mac" class="col-sm-3 col-form-label">MAC Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" id="mac" name="mac" value= "{{ mac }}">
                                        <small id="macHelp" class="form-text text-muted">The hardcoded address the device uses to communicate.</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="vendor" class="col-sm-3 col-form-label">Device Vendor</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="vendor" name="vendor" value="{{ vendor }}">
                                        <small id="vendorHelp" class="form-text text-muted">The vendor that owns this device's MAC address</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="firmware" class="col-sm-3 col-form-label">Device Firmware</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="firmware" name="firmware" value= "{{ firmware }}">
                                        <small id="firmware" class="form-text text-muted">The last known firmware on this device</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="last_updated" class="col-sm-3 col-form-label">Date Last Updated</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="last_updated" name="last_updated" value= "{{ last_updated }}">
                                        <small id="last_updated_label" class="form-text text-muted">The date that this device's firmware was last updated.</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="deviceType" class="col-sm-3 col-form-label">Device Type</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="deviceType" name="deviceType" value= "{{ type }}">
                                        <small id="deviceType" class="form-text text-muted">What type of IoT device is this</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ipSwitch" class="col-sm-3 col-form-label">Static IP</label>
                                    <div class="col-sm-9 custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="ipSwitch" name="ipSwitch" checked>
                                        <label class="custom-control-label" for="ipSwitch">Enable</label>
                                        <small id="ipSwitch" class="form-text text-muted">Will the IP Address of the device change over time</small>
                                    </div>
                                </div>
                                <div class="form-group row col-md-9">
                                    <label for="ports" class="col-sm-3 col-form-label">Ports</label>
                                    <div class="col-sm-9 custom-control">
                                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ports" name="ports"value= "{% for p in open_ports %}{{ p }} {% endfor %}">
                                    </div>
                                </div>
                                <button type="submit" class="btn  btn-primary">Update</button>
                            </form>
                    </div>
                    </div>
                </div>
                <div class="col col-sm-12">
                <div class="card col-sm-6">
                    <div class="card-header">
                        <h5>Open Ports</h5>
                        <span class="d-block m-t-5">List of open ports and their <code> risk </code> </code> factor </span>
                    </div>
                    <div class=" table-border-style table-responsive">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>Port</th>
                                    <th>Risk</th>
                                    <th>Service</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for port, info in port_info.items %}
                                {% if info.risk == 1 %}
                                    <tr class="bg-success">
                                {% elif info.risk == 2 %}
                                    <tr class="bg-warning">
                                {% elif info.risk == 3 %}
                                    <tr class="bg-danger">
                                {% else %}
                                    <tr class="bg-primary">
                                {% endif %}
                                    <td>{{ port }}</td>


                                {% if info.risk == 1 %}
                                    <td> LOW </td>
                                {% elif info.risk == 2 %}
                                    <td> MODERATE </td>
                                {% elif info.risk == 3 %}
                                    <td> HIGH </td>
                                {% else %}
                                    <td> Unknown </td>
                                {% endif %}

                                    <td>{{ info.service }}</td>
                                    <td> {{ info.comment }}</td>
                                </tr>
                                    {% endfor %}
                                
                                {% if not port_info.keys  %}
                                    <tr class="bg-success">
                                    <td> None </td>
                                    <td> None </td>
                                    <td> None </td>
                                    <td> None </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if pendingPorts%}
                <div class="card col-sm-12">
                    <div class="card-header">
                        <h5>Pending Ports</h5>
                        <span class="d-block m-t-5">Ports that will soon be unblocked </span>
                    </div>
                    <div class=" table-border-style table-responsive">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>Port</th>
                                    <th>Status</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in pendingPorts %}
                                    <tr class="bg-success">
                                    <td>           {{ p.port }}         </td>
                                    <td> Pending </td>
                                    <td>           {{ p.state }}         </td>

                                </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>
    <script src="/static/assets/js/pages/dev_overview.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    

{% endblock javascripts %}
